* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
nav {
  background-color: brown;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-evenly;
}
/* a:hover {
  transition: all 800ms ease-in-out;
  font-size: 40px;
} */
